@model List<fruitables_1_0_0.Models.Product>
@{
    ViewBag.Title = "Shop";
}
<h1>Məhsullar</h1>
<ul>
@foreach (var product in Model)
{
    <li>
        <img src="@product.ImageUrl" width="100" />
        <b>@product.Name</b> - @product.Price AZN
        <a href="/Shop/Detail/@product.Id">Ətraflı</a>
        <a href="/Basket/Add?productId=@product.Id">Səbətə at</a>
    </li>
}
</ul>