@model fruitables_1_0_0.Models.Category
<h2>Yeni Kateqoriya</h2>
<form method="post" action="/Admin/Category/Create">
    <input type="text" name="Name" placeholder="Ad" required /> <br />
    <button type="submit">Yarat</button>
</form>