@model List<fruitables_1_0_0.Models.Category>
<h2>Kateqoriya Siyahısı</h2>
<a href="/Admin/Category/Create">Yeni Kateqoriya</a>
<table border="1">
    <tr>
        <th>Ad</th>
        <th>Əməliyyatlar</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>
            <a href="/Admin/Category/Edit/@item.Id">Redaktə</a> |
            <a href="/Admin/Category/Delete/@item.Id">Sil</a>
        </td>
    </tr>
}
</table>