@model fruitables_1_0_0.Models.Product
@{
    var categories = ViewBag.Categories as List<fruitables_1_0_0.Models.Category>;
}
<h2>Yeni Product</h2>
<form method="post" action="/Admin/Product/Create">
    <input type="text" name="Name" placeholder="Ad" required /> <br />
    <input type="text" name="Description" placeholder="Açıqlama" required /> <br />
    <input type="number" name="Price" placeholder="Qiymət" required /> <br />
    <input type="text" name="ImageUrl" placeholder="Şəkil url" /> <br />
    <select name="CategoryId">
        <option value="">Kateqoriya seçin</option>
        @if (categories != null)
        {
            foreach (var cat in categories)
            {
                <option value="@cat.Id">@cat.Name</option>
            }
        }
    </select><br />
    <button type="submit">Yarat</button>
</form>