@model List<fruitables_1_0_0.Models.Product>
<h2>Product Siyahısı</h2>
<a href="/Admin/Product/Create">Yeni Product</a>
<table border="1">
    <tr>
        <th>Ad</th>
        <th>Kateqoriya</th>
        <th>Qiymət</th>
        <th>Şəkil</th>
        <th>Əməliyyatlar</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.Price</td>
        <td><img src="@item.ImageUrl" width="50" /></td>
        <td>
            <a href="/Admin/Product/Edit/@item.Id">Redaktə</a> |
            <a href="/Admin/Product/Delete/@item.Id">Sil</a>
        </td>
    </tr>
}
</table>