@{
    ViewData["Title"] = "Home";
}

<div class="banner-wrapper bg-light">
    <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">
    </div>
</div>
<section class="service-wrapper py-3">
</section>
