@{
    ViewBag.Title = "Daxil ol";
}
<h1>Daxil ol</h1>
<form method="post" action="/Account/Login">
    <input type="text" name="Username" placeholder="İstifadəçi adı" required />
    <input type="password" name="Password" placeholder="Şifrə" required />
    <button type="submit">Daxil ol</button>
</form>
<a href="/Account/Register">Qeydiyyat</a>