/* Font Definitions - Bütün fontlar assets/fonts/ qovluğunda olmalıdır */

/* Dancing Script Font - Wedding dizaynı üçün */
@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.woff2') format('woff2'),
         url('../fonts/DancingScript-Regular.woff') format('woff'),
         url('../fonts/DancingScript-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Bold.woff2') format('woff2'),
         url('../fonts/DancingScript-Bold.woff') format('woff'),
         url('../fonts/DancingScript-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Open Sans Font - Wedding dizaynı üçün */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('../fonts/OpenSans-SemiBold.woff') format('woff'),
         url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Georgia Font - Delivery və Webpage dizaynları üçün (sistem fontu, lakin ehtiyat üçün) */
@font-face {
    font-family: 'Georgia';
    src: local('Georgia'), local('Georgia-Regular');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia Bold'), local('Georgia-Bold');
    font-weight: bold;
    font-style: normal;
}

/* Arial Font - Webpage dizaynı üçün (sistem fontu) */
@font-face {
    font-family: 'Arial';
    src: local('Arial'), local('Arial-Regular');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial Bold'), local('Arial-Bold');
    font-weight: 600;
    font-style: normal;
}

